# --- DJANGO CONFIG ---
DJANGO_SECRET_KEY=django-insecure-)-e9mkhw5w9w8c8l=#!o6av)mb1udlu!ajncq&&i0a!byt&(2o
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.local

# --- DATABASE CONFIG (DOCKER) ---
POSTGRES_DB=nome_do_banco
POSTGRES_USER=usuario_do_banco
POSTGRES_PASSWORD=senha_do_banco
POSTGRES_HOST=db
POSTGRES_PORT=5432

# URL de conexão
DATABASE_URL=postgres://usuario:senha@db:5432/nome_do_banco