# --- DJANGO ---
DJANGO_SECRET_KEY=django-insecure-)-e9mkhw5w9w8c8l=#!o6av)mb1udlu!ajncq&&i0a!byt&(2o
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.local
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# --- DATABASE (Docker) ---
POSTGRES_DB=atlas_auth
POSTGRES_USER=atlas_user
POSTGRES_PASSWORD=atlas_password
DATABASE_URL=postgres://atlas_user:atlas_password@db:5432/atlas_auth

# --- SUAP ---
SUAP_CLIENT_ID=seu_client_id_gerado_no_suap
SUAP_CLIENT_SECRET=seu_client_secret_gerado_no_suap
SUAP_REDIRECT_URI=http://localhost:8000/api/auth/suap/callback/
SUAP_AUTHORIZATION_URL=https://suap.ifrn.edu.br/o/authorize/
SUAP_TOKEN_URL=https://suap.ifrn.edu.br/o/token/
SUAP_USER_INFO_URL=https://suap.ifrn.edu.br/api/v2/minhas-informacoes/meus-dados/
